body {
    position: relative; 
}
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0px;
}

.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}
.main-container{
    margin-top: 83px;

}


.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;    
    border-top: 4px solid #158D7E; 
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;        
        border-top: 4px solid #158D7E; 
    }
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 0px;
    font-size: 18px;
    line-height: 50px;
}

.navbar-toggle {
    margin-top: 22px;
    margin-bottom: 28px;
}


.custom-logo{
    height: 85px;
    width: auto;
    margin-left: 0px;
    padding-left: 0px;

}

.custom-logo-brand{

    padding-top: 0px;
    padding-bottom: 0px;

}



.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > .active > a {
    color: #fff;
    background-color: #66cc66;
    border-top: 4px solid #ffa31a;
}

.navbar-inverse {
    background-color: #158D7E;
    border-color: #66cc66;
}

.navbar-inverse .navbar-nav>li>a {
    color: #f3e8e8;
}